body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.general-div{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 80%;
    /* border: 2px solid black; */
    margin-left: 6rem;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 50%;
    align-items: center;
}

.home-content {
    width: 100%;
    margin-left: 6rem;
}
ul li{
    text-transform: uppercase;
}

.details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 6rem;
    gap: 2px;
    /* border: 2px solid blue; */
}
.section-title {
    cursor: pointer;
    color: blue;
    text-decoration: none;
}

.section-description {
    display: none;
    color: #555;
}
.section-description a{
    text-decoration: none;
}
.section-description a:hover{
    text-decoration: underline;
}
.about:hover .section-description,
.projects:hover .section-description,
.social:hover .section-description {
    display: block;
}
.pTagContent{
    display: flex;
    width: 100%;
    gap: 1rem;
}
.image img{
    margin-top: -3rem;
   width: 100%;
   height: 100%;
   border-radius: 50%; 
}
